@import url(./__footer/page__footer.css);
@import url(./__header/page__header.css);

.page {
  min-width: 320px;
  box-sizing: border-box;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: #2A2C2F;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0 16px;
  }
}
