@import url(./__lang/header__lang.css);
@import url(./__logo/header__logo.css);
@import url(./__lang/_active/header__lang_active.css);
@import url(./__langs/header__langs.css);



.header {
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  min-height: 52px;
}


@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0 0;
  }
}
