.place__paragraph {
  width: 100%;
  margin: 0 0 36px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    margin: 0 0 24px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
  }
}

